nav{
    background-color: var(--light-black);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: navbar;
    border-bottom: 0.1rem solid var(--gray);
    position: fixed;
    top: 0;
    width: calc(100% - 22rem);
    height: 6rem;
}

nav ul{
    list-style: none;
    margin-left: -1rem;
}

nav ul li{
    display: inline;
    margin-right: 3rem;
}

nav ul li a, .logout-button{
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
}

nav ul li .active{
    color: var(--yellow);
}

.logout-button{
    background: none;
    border: none;
    color: var(--red)
}

.authenticated-wrapper{
    display: grid;
    grid-template-areas: "navbar user-profile"
                         "main sidebar";                
    grid-template-columns: 1fr 22rem;
    grid-template-rows: 6rem calc(100% - 6rem);
    height: 100vh;
}

.authenticated-user-profile{
    grid-area: user-profile;
    color: var(--yellow);
    position: fixed;
    top: 0;
    right: 0;
    width: 22rem;
    height: 6rem;
}

.authenticated-main{
    grid-area: main;
    height: auto;
}


.authenticated-sidebar{
    grid-area: sidebar;
    background-color: var(--light-black);
    position: fixed;
    width: 22rem;
    height: calc(100vh - 5rem);
    top: 6.1rem;
    right: 0;
}

@media only screen and (max-width: 600px) {
    .authenticated-sidebar {
     width: 6rem;
    }

    .authenticated-user-profile {
        width: 6rem;
    }
    nav{
        width: calc(100% - 6rem);
    }
  }

.friend-request-modal{
    display: none;
    background: rgba(1, 1, 1, 0.85);
    position: absolute;

    height: calc(100% - 5rem);
    width: calc(100% - 22rem);
    justify-content: center;
    align-items: center;
}

.friend-request-modal .error{
    text-align: center;
    color: var(--red);
}

.friend-request-modal.active{
    display: flex;
}

.friend-request-modal div{
    display: block;
}

.friend-requests-wrapper{
    background-color: var(--dark-black);
    padding: 2rem 1.5rem;
    height: 37rem;
    width: 70rem;
    border: 0.15rem solid var(--watermelon);
    border-radius: 0.1rem;
}

.friend-requests-wrapper select, .friend-requests-wrapper input{
    display:inline-block;
    vertical-align:middle;
    outline: none;
    border: none;
    color: var(--dirty-white);
    background-color: var(--gray);
    border: 0.2rem solid var(--gray);
    margin: 0 0.2rem;
    border-radius: 0.3rem;
}

.friend-requests-wrapper .close-button{
    width: 10rem;
    position: relative;
    height: 4rem;
    left: calc(50% - 5rem);
    background-color: var(--watermelon);
    border: none;
    color: var(--white);
    font-weight: 500;
    border-radius: 0.3rem;
}

.friend-requests-wrapper ::placeholder{
    color: #ced6e0;
}

.friend-requests-wrapper input[type="text"]{
    width: 47rem;
    padding: 0.9rem;
}

.friend-requests-wrapper input[type="submit"]{
    width: 12rem;
    padding: 0.9rem;
    background-color: #2f3542;
    border: 0.2rem solid var(--watermelon);
    color: var(--watermelon);
    font-weight: 500;
}

.friend-requests-wrapper select{
    width: 7rem;
    padding: 0.7rem 0;
    font-weight: 500;
}

.friend-requests-wrapper .label{
    text-align: center;
    color: var(--white);
    padding-bottom: 2rem;
}

.friend-requests-wrapper .label button{
    background: none;
    border: none;
    margin: 0 1rem;
}

.friend-requests-wrapper .label .active{
    color: var(--white);
}

.friend-requests-wrapper .label .hidden{
    color: var(--gray);
}

.friend-requests-wrapper .friend-requests{
    height: 20.5rem;
    overflow: auto;
    width: 95%;
    margin: 0 auto;
}

.friend-requests-wrapper .friend-requests.hidden{
    display: none;
}

.friend-requests-wrapper .friend-requests.active{
    display: block;
}


.friend-requests-wrapper .friend-requests .friend-request{
    float: left;
    width: 17rem;
    height: 7.5rem; 
}

.friend-requests-wrapper .friend-requests .friend-request p{
    margin-top: 0;
    margin-bottom: 0.3rem;
    font-weight: 500;
}

.friend-requests-wrapper .friend-requests .friend-request p a{
    color: var(--white);
}

.friend-requests-wrapper .friend-requests .friend-request p span{
    color: var(--gray);
}

.friend-requests-wrapper .friend-requests .friend-request button{
    background: none;
    border: none;
    color: var(--orange);
    cursor: pointer;
}

.friend-requests-wrapper .friend-requests .friend-request i{
    font-size: 1.3rem;
    color: var(--orange);
}

.friend-requests-wrapper .friend-requests .friend-request button i{
    font-size: 1.8rem;
    margin-left: -0.5rem;
    margin-right: 0.5rem;
}

.friend-requests-wrapper .error{
    min-height: 3rem;
   color: var(--orange);
}

.authenticated-user-profile{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-black);
    border-left: 0.1rem solid var(--gray);
    border-bottom: 0.1rem solid var(--gray);
}

.authenticated-user-profile a{ 
    text-decoration: none;
    color: var(--turquoise);
    font-weight: 500;
}

.friend-list{
    margin-top: 2rem;
    padding: 0 2rem;
}

.friend-list div{
    height: 7rem;
}

.friend-list div a{
    text-decoration: none;
    color: var(--orange);
    font-weight: 500;
}

.friend-list div button{
    background: none;
    border: none;
    color: var(--red);
    position: relative;
    top: -1.5rem;
}

.authenticated-sidebar .modal-toggle{
    padding: 0.5rem;
}

.authenticated-sidebar .sidebar-top-panel{
    background-color: var(--light-black);
}

.authenticated-sidebar .sidebar-top-panel button{
    background-color: var(--watermelon);
    border: 0.2rem solid var(--watermelon);
    color: var(--white);
}

.authenticated-sidebar .sidebar-top-panel input{
    background-color: var(--light-black);
    width: 15.5rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: none;
    outline: none;
    border-bottom: 0.1rem solid var(--gray);
    color: var(--gray);
}
