@import "sidebar.css";

.authenticated{
    display: grid; 
    grid-template-columns: 0.15fr 1fr 0.15fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "navbar main sidebar"; 
}

@media (min-width: 1250px) {
    .authenticated{
        grid-template-columns: 0.05fr 1fr 0.15fr; 
    }
}

.authenticated .navbar{
    height: 100vh;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: navbar;
    align-items: flex-end;
    justify-content: space-between;
}

.authenticated .navbar ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
    padding: 0;
}


.authenticated .navbar ul li{
    padding: 0.75rem 0;
  
}

.authenticated .navbar img{
    width: 70%;
    margin: 0 15%;
}

.authenticated .navbar ul li a{
    color: var(--dark-white);
}

.authenticated .navbar .logout-button{
    color: var(--red);
}

.authenticated .main{
    grid-area: main;
}

.authenticated  .friend-request-modal{
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.authenticated .friend-requests-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--black);
}

.authenticated  .friend-requests-wrapper .label{
    text-align: center;
}

.authenticated  .friend-requests-wrapper .label button{
    color: var(--dark-white);
    margin: 0 1rem;
}

.authenticated  .friend-requests-wrapper .label button.hidden{
    color: var(--gray)
}
