.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    grid-area: main;
    flex-direction: column;
    height: 100vh;
}

.auth form{
    background-color: var(--gray);
    width: 25rem;
    padding: 2.5rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px var(--light-gray) inset !important;
  -webkit-text-fill-color: var(--dark-white);
  border: none;
  transition: background-color 5000s ease-in-out 0s;
}

.auth form input{
    width: 100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin: 0.2rem 0;
    padding: 0rem 2rem;
    border-radius: 0.5rem;
    height: 4.5rem;
    background: var(--light-gray);
    outline: none;
    color: var(--dark-white);
    border: 1px solid var(--light-gray);
}

.auth form input:focus{
    border: 1px solid var(--dark-white);
}

.auth form .password-box:focus-within  {
    border: 1px solid var(--dark-white)!important;
}
.auth form input[type="submit"]{
    background-color: var(--gray);
    color: var(--spring-green);
    border: 0.2rem solid var(--spring-green);
    font-weight: 600;
    margin-top: 1.5rem;
}

.auth form input[name="password"], .auth form input[name="password"]{
    padding: 0;
    border-radius: 0;
    height: auto;
    border: none;
    background: var(--light-gray);
    outline: none;
    color: var(--dark-white);
}

.auth form input[type="submit"]:hover{
    background-color: var(--spring-green);
    color: var(--white);
    transition-duration: 0.3s;
}

.auth.login .error, .auth.forgot .error, .auth.login .loading, .auth.login .success{
    color: var(--white);
    text-align: center;
    width: 25rem;
    height: 2.5rem;
    background-color: var(--red);
    padding: 1.5rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    display: none;
    font-weight: 500;
}

.auth.login .loading{
    background-color: var(--electric-blue);
}
.auth.login .success{
    background-color: var(--spring-green);
}
.auth.login .error.active, .auth.forgot .error.active, .auth.login .loading.active, .auth.login .success.active{
    display: block;
}

.auth.register .error{
   color: var(--red);
}

.auth label, .redirect, .caps-warrning{
    color: var(--dark-white);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.7rem;
}

.auth span{
    line-height: 2.7rem;
}

.auth p{
    text-align: center;
 
}
.auth a{
    color: var(--spring-green);
}

.auth .redirect{
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.auth select{
    padding: 0.7rem;
    background-color: var(--light-gray);
    color: var(--dark-white);
    outline: none;
    border: none;
    border-radius: 0.5rem;
    display: block;
}

.auth .caps-warrning{
    float: right;
    color: var(--orange);
}

.auth .password-box{
    display: flex;
    margin: 0.2rem 0;
    padding: 0rem 2rem;
    border-radius: 0.5rem;
    height: 4.5rem;
    width: max-content;
    border: 1px solid var(--light-gray);
    background-color: var(--light-gray);

}

.auth .password-box button{
    background-color: var(--light-gray);
}

.auth .password-box button i{
    width: 2rem;
    color: var(--dark-white);
    font-size: 1.4rem;
}

.auth label[for="password"] button{
    float: right;
    display: block;
    line-height: 2.8rem;
    margin-left: 1rem;
    color: var(--dark-white);
}

.auth .dial{
    position: absolute;
    background-color: var(--dark-white);
    height: 14rem;
    width: 22rem;
    left: calc(50% - 13rem);
    top: calc(50% - 22rem);
    padding: 1rem 1.7rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 1rem;
}

.auth .dial p{
    line-height: 0.7;
    font-size: 1.3rem;
    color: var(--light-gray);
    text-align: left;
    font-weight: 500;
}

.auth .dial h4{
    margin: 0;
    padding: 0;
    color: var(--light-black);
    font-weight: 500;
    font-size: 1.5rem;
}

.auth.register .tips, .auth.forgot .tips{
    font-size: 1.3rem;
    text-align: left;
    color: #787878;
    font-weight: 400;
    padding: 1.1rem 0;
}
.auth.register .tips .valid, .auth.forgot .tips .valid{
    color: var(--spring-green);
}

.auth.register .tips .invalid, .auth.forgot .tips .invalid{
    color: var(--red);
}

.auth.register .tips p, .auth.forgot .tips p{
    font-size: 1.3rem;
    text-align: left;
    font-weight: 400;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

.go-back{
    display: block;
    position: relative;
    font-size: 2rem;
    font-weight: 300;
    color: var(--spring-green);
    top: -1.5rem;
    left: -1.5rem;
}

.auth.login .forgot-password-button{
    float: right;
    width: 100%;
    text-align: right;
    padding-top: 1rem;
    font-size: 1.5rem;
    color: var(--orange);
    text-decoration: underline;
}