@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --black: #1e2124;
    --light-black: #282b30;
    --gray: #36393e;
    --light-gray: hsl(214, 5%, 27%);
    --dark-white: #e0e1e2;
    --white: #fafafa;
    --red: #e63946;
    --orange: #FFE400;
    --electric-blue: #87F5FB;
    --spring-green: #37FF8B;
    --pink: #F56476;
}

html{
    font-size:  62.5%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-black);
  color: var(--white);
  line-height: 1.61;
  font-size: 1.6rem;
}

input[type="submit"]{
    cursor: pointer;
}

::placeholder{
    color: var(--white);
}

a{
    color: var(--red);
    text-decoration: none;
    cursor: pointer;
}

button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}