.authenticated .settings-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.authenticated .settings{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.authenticated .settings .setting{
   width: 100%;
   display: flex;
   margin: 2%;
   flex-direction: column;
}

.authenticated .settings .setting .tips .valid{
    color: var(--spring-green);
}

.authenticated .settings .setting .tips .invalid{
    color: var(--red);
}

.authenticated .settings .setting .tips p{
    font-size: 1.3rem;
    text-align: left;
    font-weight: 400;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}


.authenticated .settings .setting .tips{
    font-size: 1.3rem;
    text-align: left;
    color: #787878;
    font-weight: 400;
    padding: 1.1rem 0;
}

.authenticated .settings input{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin: 0.2rem 0;
    padding: 0rem 2rem;
    border-radius: 0.5rem;
    height: 4.7rem;
    background: var(--light-gray);
    outline: none;
    color: var(--dark-white);
    border: 1px solid var(--light-gray);
}

.authenticated .setting label{
    width: 100%;
}

.authenticated .setting .caps-warrning{
    float: right;
    color: var(--orange);
}

.authenticated .setting .password-box{
    display: flex;
    margin: 0.2rem 0;
    padding: 0rem 2rem;
    border-radius: 0.5rem;
    height: 4.5rem;
    border: 1px solid var(--light-gray);
    background-color: var(--light-gray);

}

.authenticated .setting .password-box button{
    background-color: var(--light-gray);
    margin-left: 4%;
}

.authenticated .setting .password-box button i{
    width: 2rem;
    color: var(--dark-white);
    font-size: 1.4rem;
}

.authenticated .setting label[for="password"] button{
    line-height: 2.8rem;
    margin-left: 1rem;
    color: var(--dark-white);
}

.authenticated .setting input[name="password"]{
    padding: 0;
    border-radius: 0;
    height: auto;
    border: none;
    background: var(--light-gray);
    outline: none;
    color: var(--dark-white);
    width: 90%;
}
.authenticated .settings-wrapper .buttons{
    width: 96%;
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 0 1rem;
}

.authenticated .settings-wrapper .buttons .delete{
    width: 100%;
    background-color: var(--red);
    color: var(--white);
    font-weight: 600;
    margin-top: 1rem;
    padding: 1.5rem 0;
    border-radius: 0.5rem;
}

.authenticated .settings-wrapper  input[type="submit"]{
    width: 100%;
    background-color: var(--light-black);
    color: var(--spring-green);
    border: 0.2rem solid var(--spring-green);
    font-weight: 600;
    margin-top: 1.5rem;
}

.authenticated .settings-wrapper select {
    display:table-row;
    width: 100%;
    margin: 0.2rem 0;
    background-color: var(--light-gray);
    color: var(--dark-white);
    outline: none;
    border: none;
    border-radius: 0.5rem;
    height: 4.7rem;
    display: block;
}
.authenticated .settings-wrapper option {
    display:table-cell;
}


@media (min-width: 800px) {
    .authenticated .settings .setting{
        width: 45%;
     }

    .authenticated .buttons input,.authenticated .buttons button {
        width: 23%!important;
    }

    .authenticated .settings-wrapper .buttons{
        flex-direction: unset;
        width: 94%;
    }
}

